@font-face {
  font-family: Audiowide;
  src: url('../../assets/fonts/Audiowide-Regular.ttf');
}

.cardContainer{
  width: 50%;
  height: 30.47vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  .textoPersonagem {
    position: absolute;
    width: 190px;
    height: 50px;
    transform: skew(-12deg);
    background: #f0f0f0;
    margin-right:220px;
    margin-bottom:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Audiowide';
  }
  .image{
    //width: 30%;
    margin-left: 20px;
  }
}