@font-face {
  font-family: Audiowide;
  src: url('../../assets/fonts/Audiowide-Regular.ttf');
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.route {
  width: 50%;
  height: 30.47vh;
}
.carregarMais {
  .buttonApi {
    width: 50%;
    height: 50px;
    border-radius: 15px;
    font-family: Audiowide;
    font-size: 24px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .buttonApi:hover {
    background-color: gray;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .buttonApi:focus {
    outline: 0;
  }
}

@media (max-width: 479px) {
  .carregarMais {
    .buttonApi {
      width: 240px;
    }
  }
}
