@font-face {
  font-family: Audiowide;
  src: url('../../assets/fonts/Audiowide-Regular.ttf');
}
.header {
  background-color: black;
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  .Initial {
    width: 33%;
  }
  .logoDiv {
    width: 34%;
    margin-top: 5px;
    a {
      width: 34%;
    }
  }
  .search {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .icon {
    width: 32px;
    height: 32px;
    padding-right: 15px;
  }
  #checkbox:checked + .input {
    display: inline-block;
  }
  #checkbox {
    display: none;
  }
  .input {
    display: none;
    border-radius: 15px;
    width: 350px;
    height: 32px;
  }
  .filtro {
    z-index: 1;
    margin-top: 22px;
    position: absolute;
    background-color: rgb(46, 46, 46);
    min-width: 350px;
    a {
      display: flex;
      flex-direction: row;
      img {
        object-fit: cover;
      }
    }
    .filtroText {
      text-align: left;
      color: white;
      padding: 20px;
      font-size: 16px;
      font-family: Audiowide;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    .input {
      width: 230px;
    }
    .filtro {
      min-width: 230px;
      .filtroText {
        font-size: 18px;
      }
    }
  }
}
