@font-face {
  font-family: Audiowide;
  src: url('../../assets/fonts/Audiowide-Regular.ttf');
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    color: white;
    font-family: 'Audiowide';
    font-size: 60px;
  }
}
@media (max-width: 479px) {
  .loading {
    h1 {
      font-size: 40px;
    }
  }
}
